<h1 mat-dialog-title>Recortar Imagem</h1>

<mat-dialog-content class="mat-typography">
  <div class="dialog-container">
    <div *ngIf="!isImageLoaded && !loadImageError" class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="loadImageError" class="loading-shade">
        <mat-icon>error_outline</mat-icon>
        <span>Falha ao carregar a imagem.</span>
    </div>

    <div [hidden]="!isImageLoaded" class="cropper-container">
      <div class="cropper-wrapper">
        <image-cropper
          #cropper
          [imageBase64]="imageBase64"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          [resizeToWidth]="400"
          [resizeToHeight]="400"
          [transform]="transform"
          [onlyScaleDown]="false"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()"
        >
        </image-cropper>
      </div>

      <div class="cropper-controls">
        <button mat-icon-button aria-label="Girar para a esquerda" (click)="rotateLeft()">
          <mat-icon>rotate_left</mat-icon>
        </button>
        <button mat-icon-button aria-label="Girar para a direita" (click)="rotateRight()">
          <mat-icon>rotate_right</mat-icon>
        </button>
         <button mat-icon-button aria-label="Inverter" (click)="flipHorizontal()">
          <mat-icon>flip</mat-icon>
        </button>
        <button mat-icon-button aria-label="Aumentar zoom" (click)="zoomIn()">
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-icon-button aria-label="Diminuir zoom" (click)="zoomOut()">
          <mat-icon>zoom_out</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="fileInput.click()">
    <mat-icon>upload_file</mat-icon>
    Trocar Imagem
  </button>
  <input
    hidden
    type="file"
    #fileInput
    (change)="fileChangeEvent($event)"
    accept="image/*"
  />

  <span class="spacer"></span>

  <button mat-button (click)="onCancel()">
    <mat-icon>close</mat-icon>
    Cancelar
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="onSave()"
    [disabled]="!isImageLoaded"
  >
    <mat-icon>check</mat-icon>
    Salvar
  </button>
</mat-dialog-actions>
