<div class="modal-overlay">
  <div class="modal-box">
    <h1 class="modal-title">Recortar Imagem</h1>
    <div class="modal-content">
      <div class="dialog-container">
        <div *ngIf="!isImageLoaded && !loadImageError" class="loading-shade">
          <div class="spinner"></div>
        </div>
        <div *ngIf="loadImageError" class="loading-shade error">
          <span class="error-icon">⚠️</span>
          <span>Falha ao carregar a imagem.</span>
        </div>
        <div [hidden]="!isImageLoaded" class="cropper-container">
          <div class="cropper-wrapper">
            <image-cropper #cropper [imageBase64]="imageBase64" [maintainAspectRatio]="true" [aspectRatio]="1"
              [resizeToWidth]="400" [resizeToHeight]="400" [transform]="transform" [onlyScaleDown]="false" format="png"
              (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
              (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>

          <div class="cropper-controls">
            <button (click)="rotateLeft()" title="Girar para a esquerda">⟲</button>
            <button (click)="rotateRight()" title="Girar para a direita">⟳</button>
            <button (click)="flipHorizontal()" title="Inverter">⇋</button>
            <button (click)="zoomIn()" title="Aumentar zoom">＋</button>
            <button (click)="zoomOut()" title="Diminuir zoom">－</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-actions">
      <button class="btn-outline" (click)="fileInput.click()">📁 Trocar Imagem</button>
      <input hidden type="file" #fileInput (change)="fileChangeEvent($event)" accept="image/*" />

      <div class="spacer"></div>

      <button class="btn-secondary" (click)="onCancel()">✖ Cancelar</button>
      <button class="btn-primary" (click)="onSave()" [disabled]="!isImageLoaded">✔ Salvar</button>
    </div>

  </div>
</div>
