.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-wrapper {
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.preview-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  text-align: center;
  font-size: 0.9em;
}

.preview-placeholder mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.content-right {
  flex: 2;
}

.dialog-container {
    flex-grow: 1;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cropper-wrapper {
    width: 100%;
    /* Usa o menor valor entre 100% da largura e 60% da altura da tela */
    max-width: min(100%, 60vh);
    max-height: 100%; /* Garante que o wrapper não exceda a altura disponível */
    display: flex; /* Adicione display flex para que image-cropper possa preencher */
    align-items: center; /* Centraliza verticalmente o image-cropper */
    justify-content: center; /* Centraliza horizontalmente o image-cropper */
}

.cropper-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

image-cropper {
    width: 100%;
    height: 100%;
    display: block; /* Importante para que a imagem interna se ajuste */
}

mat-dialog-content {
    max-height: 80vh !important; /* Limita a altura da modal */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

mat-dialog-content {
  max-height: 80vh !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cropper-container {
  /* Garante que este container use o espaço disponível */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
