<header>
  <img
    src="../../../assets/temp/logo-escura.png"
    class="logo"
    routerLink="/home"
  />
  <p>PESSOAS</p>
  <img
    (click)="logout()"
    src="../../../assets/temp/logout.png"
    class="logout"
  />
</header>

<div class="container">
  <div class="conteudo-central">
    <div class="cards">
      <div class="card-container" *ngFor="let user of userProfiles">
        <img
          [src]="user.imageUrl ? user.imageUrl : 'assets/etapas/perfil.png'"
          width="120px"
          height="120px"
        />
        <h3>{{ getFirstTwoNames(user.fullName) }}</h3>
        <h3>{{ user.name }}</h3>
        <p>{{ user.email }}</p>
        <div class="buttons">
          <button class="primary" (click)="iniciarConversa(user.id)">
            Conversar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
