<div class="overlay"></div>
<div class="container">
  <div class="center-content">
    <div class="head">
      <button class="logo-btn" style="cursor: pointer; background: transparent; border: transparent">
        <img src="assets/logo.png" routerLink="/inicio" class="logo" alt="Logo" />
      </button>
    </div>
    <div class="main-content">
      <div class="title">COMPLETE SEU PERFIL</div>
      <div class="center">
        <div class="title">
          <p>Selecione sua área de interesse:</p>
        </div>

        <div class="multi-select-dropdow" #dropdownContainer>
          <div class="input-container">
            <ng-container *ngFor="let area of allAreas">
              <div class="selected-item" *ngIf="area.selected">
                {{ area.interestArea }}
                <button (click)="removeItem(area, $event)">x</button>
              </div>
            </ng-container>
            <input type="text" (focus)="showDropdown()" (input)="filterItems($event)" [placeholder]="
                selectedAreaIds.length > 0 ? '' : 'Selecione uma área'
              " />
          </div>

          <div *ngIf="isDropdownVisible" class="dropdown-list">
            <div *ngFor="let area of filteredAreas" class="dropdown-item" (click)="toggleItem(area, $event)">
              <span class="checkbox" [class.checked]="area.selected">
                <span *ngIf="area.selected" class="checkmark">✔</span>
              </span>
              {{ area.interestArea }}
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="send-button">
          <button routerLink='/primeira-etapa'>Voltar</button>
          <button (click)="concluirCadastro()">Concluir</button>
        </div>
      </div>
    </div>
  </div>
</div>
