<footer>
  <div class="containerfooter">
    <div class="images">
      <img src="assets/logo.png" alt="Logo Oportuniza" />
      <div class="social">
        <img src="assets/imglanding/footer/facebook.png" alt="Facebook" />
        <img src="assets/imglanding/footer/social.png" alt="Instagram" />
        <img src="assets/imglanding/footer/twitter.png" alt="Twitter" />
      </div>
    </div>
    <span></span>
    <div class="links">
      <h1>Links</h1>
      <div class="conteudo-links">
        <div class="linha1">
          <a href="#inicio">FAQ</a>
          <a href="#sobre">SOBRE</a>
          <a href="#vagas">VAGAS</a>
        </div>
      </div>
    </div>
    <span></span>
    <div class="info">
      <div class="info-title">
        <h1>Nosso contato</h1>
      </div>
      <div class="info-conteudo">
        <div class="organização">
          <img src="assets/imglanding/footer/phone.png" alt="icon telefone" />
          <p>Telefone: (11) 9810-4567</p>
        </div>
        <div class="organização">
          <img src="assets/imglanding/footer/email.png" alt="icon email" />
          <p>E-mail: suporte&#64;oportuniza.com</p>
        </div>
        <div class="organização">
          <img src="assets/imglanding/footer/local.png" alt="icon local" />
          <p>Endereço: Oportuniza, Av. das Inovações, 345, São Paulo - SP</p>
        </div>
      </div>
    </div>
  </div>
</footer>
