* {
  border: none;
}

.container {
  width: 65em;
  height: 44em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  border-radius: 15px;
}

.post-as-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.author-options {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  max-width: 20em;
  overflow: auto;
  padding: 10px;
}

.author-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5em;
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  background-color: #969696;
  color: rgb(255, 255, 255);
  transition: ease .5s;
}

.author-option.active {
  background-color: #1c41b8;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
  transform: scale(1.1);
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.conteudo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.conteudo-left,
.conteudo-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
}

.conteudo-left {
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.conteudo-right {
  flex: 1.1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow-y: auto;
  padding-top: 10px;
}

form {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-label {
  font-weight: 600;
  color: #555;
  font-size: 12px;
}

.form-input {
  width: 80%;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 12px;
}

.form-textarea {
  width: 30em;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 12px;
  resize: vertical;
  min-height: 60px;
  height: 70px;
}

.option-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.option-button {
  padding: 6px 6px;
  border-radius: 6px;
  background-color: #e9ecef;
  color: #495057;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.option-button.active {
  background-color: #007bff;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
}

.form-inline-group {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.inline-item {
  flex: 1;
  min-width: 120px;
  position: relative;
}

.icon-input {
  padding-right: 30px;
}

.input-icon {
  position: absolute;
  right: 0px;
  top: 33px;
  color: #6c757d;
  font-size: 18px;
}

.image-upload-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #a9a9a9;
  background-color: #f9f9f9;
  color: #555;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.image-upload-area .preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.upload-placeholder mat-icon {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.upload-placeholder p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.upload-subtext {
  font-size: 12px;
  color: #6c757d;
}

.submit-section {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 20px;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  min-width: 100px;
}
