.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #D9D9D9;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 60em;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
  cursor: alias;
}

[hidden] {
  display: none;
}

.dots {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #b4b4b4;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #001cbe;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 10em;
  height: 10em;
  padding: 0 30px 0 30px;
}

.icon2 {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.item h2 {
  font-size: 16px;
}

.item p {
  font-size: 12px;
  width: 70%;
}

.textprincipal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  gap: 10px;
}

.textprincipal h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.icon {
  width: 40px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .slide {
    width: 40em;
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .slide {
    width: 22em;
  }

  .content {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}

@media screen and (max-width: 600px) {

  .content {
    height: auto;
    grid-template-columns: 1fr;
  }
}
