@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F4F5FE;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.custom-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 25px;
  background-color: #272623;
}

.loading-dialog-panel .mdc-dialog__surface {
  background-color: transparent;
  box-shadow: none !important;
}

.loading-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}
