@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F4F5FE;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.custom-dialog .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 25px;
  background-color: #272623;
}

.loading-dialog-panel .mdc-dialog__surface {
  background-color: transparent;
  box-shadow: none !important;
}

.loading-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  background: transparent !important;
  box-shadow: none !important;
}


#search-form {
  .mat-form-field-underline {
    background-color: #6a6a6a;
  }

  .mat-form-field-ripple {
    background-color: black;
  }

  .placeholder {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #252525;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9b9b9b #f0f0f0;
}

html {
  scroll-behavior: smooth;
}
