<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Criar Nova Empresa</mat-card-title>
      <mat-card-subtitle>Preencha os dados e adicione o logo da empresa</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">

        <div class="upload-section">
          <div class="preview-container" [style.backgroundImage]="'url(' + previewUrl + ')'" (click)="fileInput.click()"
            mat-ripple>

            <div *ngIf="!previewUrl" class="upload-placeholder">
              <mat-icon>add_a_photo</mat-icon>
              <span>Logo da Empresa</span>
            </div>
          </div>
          <input hidden type="file" #fileInput (change)="onFileSelected($event)" accept="image/png, image/jpeg">
        </div>
        <div class="error-container"
          *ngIf="companyForm.get('image')?.touched && companyForm.get('image')?.hasError('required')">
          <mat-error>É obrigatório selecionar uma imagem para o logo.</mat-error>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome da Empresa</mat-label>
          <input matInput formControlName="name" required>

        </mat-form-field>

        <!-- Campo Descrição -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descrição da Empresa</mat-label>
          <textarea matInput formControlName="description" rows="4"></textarea>
          <mat-hint align="end">{{ companyForm.get('description')?.value?.length || 0 }} / 500</mat-hint>
        </mat-form-field>

        <!-- Botão de Ação -->
        <div class="actions-container">
          <button mat-raised-button color="primary" type="submit" routerlink="/inicio"
            [disabled]="companyForm.invalid || isLoading">
            <span *ngIf="!isLoading" class="button-content">
              <mat-icon>save</mat-icon>
              <span>Criar Empresa</span>
            </span>
            <span *ngIf="isLoading" class="button-content">
              <mat-spinner diameter="24" class="button-spinner"></mat-spinner>
              <span>Criando...</span>
            </span>
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
