.container {
  background-color: #DEDEDE;
  width: 65em;
  height: 38em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  border-radius: 25px;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.conteudo-left,
.conteudo-right {
  flex: 1;
  padding: 15px;
  border-radius: 15px;
  color: black;
}

.conteudo-left {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.conteudo-right {
  background-color: #C9C9C9;
  color: black;
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

form {
  border: none;
  width: 420px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input,
textarea {
  width: 400px;
  height: 35px;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 8px;
  padding: 10px 5px;
}

textarea {
  height: 120px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.btn {
  border: none;
  background-color: #3245C3;
  color: white;
  padding: 8px 30px;
  border-radius: 8px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn:hover {
  transition: 0.2s ease-in;
  transform: scale(1.05);
}

.image-upload-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #a9a9a9;
  background-color: #f9f9f9;
  color: #555;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 100%;
}

.image-upload-area .preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.upload-placeholder mat-icon {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.upload-placeholder p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.upload-subtext {
  font-size: 12px;
  color: #6c757d;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal {
  display: flex;
  align-items: start;
  flex-direction: column;
  background: #f6f6f6;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.custom-input {
  width: 90%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 10px;
}

.custom-options {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #ffffff;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
  color: #000000;
}

.custom-option:hover {
  background-color: #d4d4d4;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #2b53c9;
  color: #ffffff;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}

.close-btn:hover {
  background: #555;
}
