<div class="container">
  <div class="conteudo">
    <div class="conteudo-left">
      <div class="image-upload-area" (click)="fileInput.click()" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" [class.dragging]="isDragging">
        <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview da Imagem da Vaga" class="preview-image" />

        <div class="upload-placeholder" *ngIf="!previewUrl">
          <mat-icon>cloud_upload</mat-icon>
          <p>Arraste e solte a imagem aqui</p>
          <p class="upload-subtext">ou clique para selecionar</p>
        </div>
      </div>
      <input hidden type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" />
      <button type="button" class="btn btn-outline-primary mt-3" (click)="fileInput.click()">
        Escolher Imagem 🖼️
      </button>
    </div>

    <div class="conteudo-right">
      <h2 class="title">Informações da Empresa</h2>
      <form (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Nome da empresa" class="form-control" [(ngModel)]="name" name="name" />
        <input type="text" [value]="selectedCity?.name" placeholder="Selecione a cidade" readonly class="form-control"
          (click)="openCityModal()" />
        <input type="tel" placeholder="Telefone" class="form-control" [(ngModel)]="phone" name="phone"
          mask="00 0000-0000" />
        <input type="email" placeholder="E-mail" class="form-control" [(ngModel)]="email" name="email" />
        <input type="text" placeholder="CNPJ" class="form-control" [(ngModel)]="cnpj" name="cnpj"
          mask="00.000.000/0000-00" />
        <textarea placeholder="Escreva sobre a empresa (máx. 300 caracteres)..." class="form-control form-textarea"
          maxlength="300" [(ngModel)]="description" name="description"></textarea>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" [disabled]="isLoading">
            <span *ngIf="!isLoading">Criar Empresa</span>
            <span *ngIf="isLoading">Criando...</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal-backdrop" *ngIf="cityModalOpen">
  <div class="modal">
    <h3>Selecione a cidade</h3>

    <input type="text" [formControl]="cityControl" placeholder="Digite para buscar" class="custom-input" />

    <ul *ngIf="filteredCities.length > 0" class="custom-options">
      <li *ngFor="let city of filteredCities" (click)="selectCity(city)" class="custom-option">
        {{ city.name }}
      </li>
    </ul>
    <button class="close-btn" (click)="closeCityModal()">Fechar</button>
  </div>
</div>
