<div class="overlay"></div>
<div class="container">
  <div class="center-content">
    <div class="head">
      <button
        class="logo-btn"
        style="cursor: pointer; background: transparent; border: transparent"
      >
        <img src="assets/logo.png" class="logo" alt="Logo" />
      </button>
      <div class="step1">
        <span></span>
        <p>1° Etapa</p>
      </div>
      <div class="step2">
        <span></span>
        <p>2° Etapa</p>
      </div>
      <div class="step3">
        <span></span>
        <p>3° Etapa</p>
      </div>
    </div>
    <div class="main-content">
      <div class="title">COMPLETE SEU PERFIL</div>
      <div class="center">
        <div class="title">
          <p>Selecione sua área de interesse:</p>
        </div>

        <div class="multi-select-dropdow" #dropdownContainer>
          <div class="input-container">
            <ng-container *ngFor="let area of allAreas">
              <div class="selected-item" *ngIf="area.selected">
                {{ area.interestArea }}
                <button (click)="removeItem(area, $event)">x</button>
              </div>
            </ng-container>
            <input
              type="text"
              (focus)="showDropdown()"
              (input)="filterItems($event)"
              [placeholder]="selectedAreaIds.length > 0 ? '' : 'Selecione uma área'"
            />
          </div>

          <div *ngIf="isDropdownVisible" class="dropdown-list">
            <div
              *ngFor="let area of filteredAreas"
              class="dropdown-item"
              (click)="toggleItem(area, $event)"
            >
              <span class="checkbox" [class.checked]="area.selected">
                <span *ngIf="area.selected" class="checkmark">✔</span>
              </span>
              {{ area.interestArea }}
            </div>
          </div>
        </div>

        <div class="send-button">
          <button [routerLink]="['/segunda-etapa']">Voltar</button>
          <button (click)="concluirCadastro()" routerLink="/login">
            Concluir
          </button>
        </div>
        <div class="send"></div>
      </div>
      <div class="footer"></div>
    </div>
  </div>
</div>
