<div class="container">
  <div class="edit-panel">
    <h2 class="config-text">
      ADICIONAR FUNCIONÁRIO
    </h2>
    <p class="edit-intro-text">
      A criação de um acesso para os funcionários é essencial, pois possibilitará que,
      por meio dessa conta, eles tenham acesso às publicações desta empresa em
      específico, além de poderem criar novas publicações.
    </p>
    <form (ngSubmit)="onSave()" class="edit-content-wrapper">

      <div *ngIf="isLoading" class="loading-overlay">
        <p>Carregando...</p>
      </div>

      <div class="edit-content" [class.content-disabled]="isLoading">
        <div class="conteudo-left">
          <p>IMAGEM PADRÃO</p>
          <div class="image-preview-area">
            <img [src]="companyImageUrl" alt="Imagem Padrão do Funcionário" class="preview-image" />
          </div>
        </div>

        <div class="form-section">
          <div class="form-field">
            <label for="employee-name">Nome do Funcionario</label>
            <input type="text" id="employee-name" placeholder="Nome" [(ngModel)]="employeeName" name="employeeName"
              maxlength="100" required class="text-input">
          </div>
          <div class="form-field">
            <label for="employee-email">Email do Funcionario</label>
            <input type="email" id="employee-email" placeholder="email@exemplo.com" [(ngModel)]="employeeEmail"
              name="employeeEmail" required class="text-input">
          </div>
          <div class="form-field">
            <label for="employee-password">Senha de Acesso</label>
            <div class="password-input-wrapper">
              <input [type]="hidePassword ? 'password' : 'text'" id="employee-password"
                placeholder="Mínimo 6 caracteres" [(ngModel)]="employeePassword" name="employeePassword" required
                class="text-input">
              <button type="button" class="toggle-visibility-button" (click)="togglePasswordVisibility('password')">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </div>
          </div>

          <div class="button-row">
            <button type="submit" class="save-button" [disabled]="!isFormValid() || isSubmitting">
              {{ isSubmitting ? 'Salvando...' : 'Salvar' }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
