<div class="layout-container">
  <div class="menu-trigger-area" (click)="toggleMenu()">
    <div class="menu-icon">
      <img src="../../../../assets/burger-bar.png" alt="Menu" />
    </div>
  </div>

  <div class="overlay" [class.show]="isMenuOpen" (click)="toggleMenu(false)"></div>

  <aside id="sidebar" class="sidebar" [class.open]="isMenuOpen">
    <div class="title">
      <h2>Oportuniza</h2>
    </div>

    <div class="center-content">
      <nav>
        <a routerLink="feed" routerLinkActive="active">
          <img class="icons" src="../../../../assets/home-assets/home.png" />
          Início
        </a>

        <ng-container *ngIf="isCompany && userRole">

          <ng-container *ngIf="userRole === 'Owner'">
            <a routerLink="meus-posts">
              <img class="icons" src="../../../../assets/home-assets/feed.png" />
              Minhas Vagas
            </a>

            <a routerLink="minhas-empresas">
              <img class="icons-white" src="../../../../assets/home-assets/company.png" />
              Empresas
            </a>

            <a routerLink="interessados">
              <img class="icons" src="../../../../assets/home-assets/sino.png" />
              Interessados
            </a>
          </ng-container>

          <ng-container *ngIf="userRole === 'Worker'">
            <a routerLink="meus-posts">
              <img class="icons" src="../../../../assets/home-assets/feed.png" />
              Minhas Vagas
            </a>

            <a routerLink="minhas-empresas">
              <img class="icons-white" src="../../../../assets/home-assets/company.png" />
              Empresas
            </a>
          </ng-container>

          <ng-container *ngIf="userRole === 'Administrator'">
            <a routerLink="meus-posts">
              <img class="icons" src="../../../../assets/home-assets/feed.png" />
              Minhas Vagas
            </a>

            <a routerLink="minhas-empresas">
              <img class="icons-white" src="../../../../assets/home-assets/company.png" />
              Empresas
            </a>

            <a routerLink="interessados">
              <img class="icons" src="../../../../assets/home-assets/sino.png" />
              Interessados
            </a>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!isCompany">
          <a routerLink="meus-posts">
            <img class="icons" src="../../../../assets/home-assets/feed.png" />
            Minhas Vagas
          </a>

          <a routerLink="interessados">
            <img class="icons" src="../../../../assets/home-assets/sino.png" />
            Interessados
          </a>

          <a routerLink="perfil">
            <img class="icons" src="../../../../assets/home-assets/perfil.png" />
            Perfil
          </a>

          <a routerLink="minhas-empresas">
            <img class="icons-white" src="../../../../assets/home-assets/company.png" />
            Empresas
          </a>
        </ng-container>
      </nav>
    </div>

    <div class="user-content">
      <button class="novo-post" routerLink="post">
        + Novo Post
      </button>

      <div class="user" *ngIf="loginDisplay">
        <ng-container *ngIf="userProfile.isCompany; else normalUser">
          <img class="user-image" [src]="userProfile.imageUrl || '../../../../assets/home-assets/company.png'"
            alt="Logo da Empresa" />
          <p class="username">
            {{ userProfile.name }}
          </p>
        </ng-container>

        <ng-template #normalUser>
          <img class="user-image" [src]="userProfile.imageUrl || '../../../../assets/etapas/perfil.png'"
            alt="Foto do Usuário" />
          <p class="username">{{ userProfile.name }}</p>
        </ng-template>

        <div class="config-area">
          <img class="config-image" (click)="openDialog()" src="../../../../assets/home-assets/settings.png"
            alt="Configurações" />
        </div>
      </div>
    </div>
  </aside>

  <hr />

  <main class="content">
    <router-outlet class="layout-content"></router-outlet>
  </main>
</div>
