* {
  text-decoration: none;
  list-style: none;
}

.config-area {
  display: flex;
  align-content: center;
  justify-content: center;
}

span {
  position: absolute;
  z-index: 2;
  pointer-events: none
}

span img {
  width: 22px;
  height: 22px;
  font-size: 15px;
  left: 10px;
}

.menu-icon {
  padding: .5em;
  display: none;
}

.menu-icon img {
  width: 25px;
}

.layout-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-container {
  background-image: url(../../../../assets/home-assets/Fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

hr {
  height: 600px;
  background-color: rgb(255, 255, 255);
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: white;
  transition: color 0.3s;
  position: relative;
  transition: .3s;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover {
  transition: .3s;
  transform: scale(1.1);
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 18%;
}

.title {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 35px;
  color: white;
}

.center-content {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1.5em;
}

.user-content {
  width: 100%;
  height: 20%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.novo-post {
  border: none;
  font-size: 17px;
  width: 70%;
  height: 30%;
  font-weight: 500;
  color: white;
  background-color: #3D50CA;
  border-radius: 12px;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  transition: 0.2s;
  transform: scale(1.02);
}

.user {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 500;
  font-size: 18px;
  gap: .5em;
}

.user-image {
  width: 50px;
  height: 50px;
  background-color: rgb(215, 215, 215);
  border-radius: 100%;
}

.content {
  height: 100%;
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  filter: invert(1);
  width: 40px;
  height: 40px;
  padding-right: 15px;
}

.icons-white {
  width: 40px;
  height: 40px;
  padding-right: 15px;
}

.config-image {
  filter: invert(1);
  width: 40px;
  height: 40px;
  padding-right: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.config-image:hover {
  transition: 0.2s;
  transform: scale(1.05);
}

.menu-trigger-area {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2000;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  height: 30px;
  filter: invert(1);
  transition: transform 0.2s ease;
}

.menu-icon:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
  .layout-container {
    background-position: top center;
  }

  .center-content {
    font-size: 10px;
  }

  .user {
    padding: 10px;
    justify-content: space-between;
  }

  .center-content a {
    font-size: 15px;
  }

  .user-content button {
    font-size: 15px;
  }

  .user-content .username {
    font-size: 12px;
    width: 100%;
  }

  .user-image,
  .config-image {
    width: 25px;
    height: 25px;
  }

}

@media screen and (max-width: 1124px) {
  .layout-container {
    flex-direction: column;
    background-position: top center;
  }

  .menu-icon {
    display: flex;
  }

  .icons,
  .icons-white {
    width: 25px;
    height: 25px;
  }

  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #1a1a1dea;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.4s ease;
    z-index: 1001;
  }

  .center-content {
    font-size: 10px;
  }

  .center-content a {
    font-size: 15px;
  }


  .sidebar.open {
    left: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
  }

  .overlay.show {
    display: block;
  }

  .menu-trigger-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999;
  }

  hr {
    display: none;
  }

  .user-content button {
    font-size: 14px;
  }

  .user-image,
  .config-image {
    width: 35px;
    height: 35px;
  }

}

@media screen and (max-width:1000px) {
  .layout-container {
    background-position: top center;
  }
}

@media screen and (max-width:900px) {
  .layout-container {
    background-position: top center;
  }
}

@media screen and (max-width:700px) {
  .layout-container {
    background-position: top center;
  }
}

@supports (-webkit-touch-callout: none) {
  .layout-container {
    background-attachment: scroll !important;
  }
}
