.container {
  background-color: rgba(255, 255, 255, 0.26);
  width: 65em;
  height: 38em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 25px;
  font-weight: 600;
}

.quadrado {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.titulos {
  display: flex;
  margin: 20px;
  justify-content: center;
  padding: 20px;
  gap: 5em;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.conteudo {
  width: 100%;
  height: 32em;
  background-color: red;
}

.candidates {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 0.5em;
  box-sizing: border-box;
}

.inscription {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 0.5em;
  box-sizing: border-box;
}

.candidates-content {
  width: 100%;
}

.person-content {
  width: 55em;
  display: flex;
  align-items: stretch;
  padding: 10px;
  border-bottom: 1px solid;
}

.left {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
  font-weight: 500;
}

.center {
  padding: 5px 10px;
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.right {
  flex: .4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}

.post {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  flex: 1;
  width: 100%;
}

.name {
  font-size: 15px;
  font-weight: 500;
  padding: 3px;
  flex: 1;
  width: 100%;
}

.description {
  font-size: 15px;
  width: 100%;
  font-weight: 500;
  padding: 3px;
  flex: 2;
}

.curriculo {
  font-size: 15px;
  font-weight: 500;
  padding: 3px;
  width: 100%;
  flex: 1;
}

.ver-perfil {
  background-color: #3D50CA;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  transition: ease .3s;
  cursor: pointer;
}

.ver-perfil:hover {
  transition: ease .3s;
  transform: scale(1.05);
}

.applied-button {
  border: none;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  transition: .2s;
  cursor: pointer;
  background-color: #e55621;
  transition: ease .3s;

}

.applied-button:hover {
  transition: ease .3s;
  transform: scale(1.05);
}

.nothing {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nothing-text {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 65em;
    height: 35em;
  }
}
