<div class="container">
  <div class="quadrado">
    <div class="titulos">
      <a (click)="activeTab = 'candidates'; loadData('candidates')" [class.active]="activeTab === 'candidates'">
        {{ isCompany ? 'Candidatos às Minhas Vagas' : 'Candidatos nas Minhas Vagas' }}
      </a>

      <span *ngIf="!isCompany">|</span>

      <a *ngIf="!isCompany" (click)="activeTab = 'inscription'; loadData('inscription')"
        [class.active]="activeTab === 'inscription'">
        Minhas Candidaturas
      </a>
    </div>

    <div class="candidates" *ngIf="activeTab === 'candidates'">
      <div class="candidates-content" *ngFor="let pub of publicationsWithCandidates">
        <div class="person-content" *ngFor="let candidate of pub.candidates">
          <div class="left">
            <img class="profile" [src]="candidate.userImage || '../../../../assets/etapas/perfil.png'"
            alt="Foto de Perfil" />
          </div>
          <div class="center">
            <p class="title">{{ pub.title }}</p>
            <p class="name">{{ candidate.userName }}</p>
            <p class="description">{{ pub.resumee }}</p>
          </div>
          <div class="right">
            <button class="ver-perfil">Ver Perfil</button>
          </div>
        </div>
      </div>
    </div>

    <div class="inscription" *ngIf="activeTab === 'inscription' && !isCompany">
      <div class="candidates-content">
        <div class="person-content" *ngFor="let item of inscriptions">
          <div class="left">
            <img class="profile" [src]="item.publication.authorImageUrl || '../../../../assets/etapas/perfil.png'"
              alt="Foto de Perfil do Autor" />
            <span class="author-label">
              &#64;{{ item.publication.authorName || 'Autor Desconhecido' }}
            </span>
          </div>
          <div class="center">
            <p class="name">{{ item.publication.title }}</p>
            <p class="description">{{ item.publication.resumee }}</p>
          </div>
          <div class="right">
            <button (click)="cancelApplication(item.id)" class="applied-button">
              Candidatado
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="nothing" *ngIf="!loading && !hasData">
      <p class="nothing-text">No momento nenhuma informação disponível.</p>
    </div>
  </div>
</div>
