.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  max-width: none;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.content-box {
  padding: 10px;
  padding-bottom: 30px;
  text-align: justify;
  width: 28em;
}

span {
  border-bottom: 2px solid;
  width: 28em;
}

.span2{
  padding-top: 0px;
}

.content {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.content h3 {
  margin-top: 20px;
  font-size: 15px;
}

.content p {
  font-size: 13px;
  padding-top: 10px;
}

.conteudo-botao{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2em;
  padding-top: 15px;
}

.cont-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 2em;
}

.bounce-in {
  animation: bounceInUp 0.6s ease-out;
}
