<div class="filter-container">
  <div class="title">Filtros</div>

  <div class="filter-group">
    <div class="label">Localização:</div>
    <input type="text" [(ngModel)]="filters.local" placeholder="Olimpia, SP" />

    <div class="location-controls">
      <div *ngIf="filters.radiusKm !== null">
        <label>Raio: {{ filters.radiusKm }} km</label>
        <input type="range" min="0" max="5000" step="50" [(ngModel)]="filters.radiusKm" (change)="onRadiusChange()">
      </div>
    </div>
  </div>

  <div class="filter-group">
    <div class="label">Tipo de contrato:</div>
    <div class="options-grid">
      <label>
        <input type="checkbox" name="contracts" value="Estágio" [checked]="filters.contracts?.includes('Estágio')"
          (change)="toggleContract('Estágio')">Estágio
      </label>
      <label>
        <input type="checkbox" name="contracts" value="Freelancer" [checked]="filters.contracts?.includes('Autonomo')"
          (change)="toggleContract('Autonomo')">Autônomo
      </label>
      <label>
        <input type="checkbox" name="contracts" value="CLT" [checked]="filters.contracts?.includes('CLT')"
          (change)="toggleContract('CLT')">CLT
      </label>
      <label>
        <input type="checkbox" name="contracts" value="PJ" [checked]="filters.contracts?.includes('PJ')"
          (change)="toggleContract('PJ')">PJ
      </label>
    </div>
  </div>

  <div class="filter-group">
    <div class="label">Turno:</div>
    <div class="options-grid">
      <label>
        <input type="checkbox" name="shifts" value="Matutino" [checked]="filters.shifts?.includes('Matutino')"
          (change)="toggleShift('Matutino')">Matutino
      </label>
      <label>
        <input type="checkbox" name="shifts" value="Vespertino" [checked]="filters.shifts?.includes('Vespertino')"
          (change)="toggleShift('Vespertino')">Vespertino
      </label>
      <label>
        <input type="checkbox" name="shifts" value="Noturno" [checked]="filters.shifts?.includes('Noturno')"
          (change)="toggleShift('Noturno')">Noturno
      </label>
      <label>
        <input type="checkbox" name="shifts" value="Escala" [checked]="filters.shifts?.includes('Turno')"
          (change)="toggleShift('Turno')">Turno Varíavel
      </label>
    </div>
  </div>

  <div class="filter-group">
    <div class="label">Faixa salarial:</div>

    <div class="options-grid">
      <label>
        <input type="radio" name="salaryRange" value="range1" [(ngModel)]="filters.salaryRange">
        Até R$1.000,00
      </label>
      <label>
        <input type="radio" name="salaryRange" value="range2" [(ngModel)]="filters.salaryRange">
        R$1.000,00 a R$2.000,00
      </label>
      <label>
        <input type="radio" name="salaryRange" value="range3" [(ngModel)]="filters.salaryRange">
        Acima de R$2.000,00
      </label>
    </div>
  </div>

  <div class="button-group">
    <button class="clear-button" (click)="clearFilters()">Limpar Tudo</button>
    <button class="apply-button" (click)="apply()">Aplicar Filtros</button>
  </div>
</div>
