header{
  position:absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.logo {
  position: relative;
  width: 5.4em;
  height: 5em;
  left: 110px;
  cursor: pointer;
}

.logout {
  position: relative;
  cursor: pointer;
  width: 2em;
  height: 2em;
  right: 110px;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../assets/auxiliar/background-image.png");
  background-size: cover;
  color: #fff;
}

.name {
  color: rgb(255, 216, 157);
  font-weight: 400;
}

.welcome {
  font-weight: 400;
}

.mat{
  height: 8em;
  width: 8em;
}

.manutencao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 2em;
}

p{
  font-size: 2.5em;
  font-weight: 700;
}

.mant-p{
  font-size: 3em;
  font-weight: 700;
}

img{
  filter: invert(1);
}

.botoes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 40vw;
  padding: 20px;
}

button{
  border: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 3.5em;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  background-color: bisque;
}

button:hover{
  filter: contrast(1.2);
}


@media screen and (max-width: 1366px) {
  .botoes {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .botoes {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

@media screen and (max-width: 600px) {

  .botoes {
    height: auto;
    grid-template-columns: 1fr;
    width: 15em;
  }
}
