.vagas-container {
  max-width: 100%;
  padding: 50px;
  text-align: center;
  height: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

.slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

[hidden] {
  display: none;
}

.job-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  width: 25em;
  max-width: 750px;
  height: 150px;
  gap: 10px;
}

.job-card img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.job-info {
  flex-grow: 1;
  text-align: left;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-info h3 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.job-info p {
  margin: 3px 0;
  font-size: 12px;
  color: #333;
}

.btn {
  background: #ffffff;
  border: 2px solid #000970;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: 10em;

}

.btn:hover {
  background: #000970;
  color: #ffffff;
}

.navigation {
  margin-top: 15px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 6px;
  background-color: #acacac;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #001cbe;
}

@media screen and (max-width: 1200px) {
  .vagas-container{
    height: 40em;
  }
  .slide {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {


  .slide {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
    .job-card {
    width: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
  }

  .slide {
    grid-template-columns: 1fr;
  }
}
