<header>
  <img
    src="../../../assets/temp/logo-escura.png"
    class="logo"
    routerLink="/home"
  />
  <p >CHAT</p>
  <img (click)="logout()" src="../../../assets/temp/logout.png" class="logout"/>
</header>

<div class="container">
  <div class="chat-container">
    <div class="chat-sidebar">
      <h3>Conversas</h3>
      <ul *ngIf="chatSummaries.length > 0; else noConversations">
        <li *ngFor="let chat of chatSummaries" (click)="openChat(chat)" [class.active]="chat.chatId === selectedChatId"> {{ chat.targetUserName }} </li>
      </ul>
      <ng-template #noConversations>
        <p>Nenhuma conversa ainda.</p>
      </ng-template>
    </div>

    <div class="chat-main">
      <ng-container *ngIf="selectedChatId; else emptyChat">
        <h4>Conversando com: {{ nomeTarget }}</h4>
        <div class="chat-messages">
          <div
          *ngFor="let msg of getMessages; trackBy: trackById" [ngClass]="{'message-sent': msg.senderId === currentUserId, 'message-received': msg.senderId !== currentUserId }">
          <div class="message-header">
            <strong>{{ msg.senderName }}</strong>
            <span class="message-time">{{ msg.sentAt | date : "shortTime"}}</span>
          </div>
          <div class="message-body">{{ msg.message }}</div>
        </div>
      </div>

      <input
      [(ngModel)]="newMessage"
      placeholder="Digite sua mensagem...."
      (keydown.enter)="sendMessage()"
      type="text"
      />

    </ng-container>

    <ng-template #emptyChat>
      <p>Nenhuma conversa iniciada ainda.</p>
    </ng-template>
  </div>
</div>

</div>
