header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: invert(1);
}

.logo {
  position: relative;
  width: 5.4em;
  height: 5em;
  left: 110px;
  cursor: pointer;
}

.logout {
  position: relative;
  cursor: pointer;
  width: 2em;
  height: 2em;
  right: 110px;
}

header p {
  font-size: 2.5em;
  font-weight: 700;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../assets/auxiliar/background-image.png");
  background-size: cover;
}

.chat-container {
  display: flex;
  width: 60vw;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.chat-sidebar {
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 1rem;
  background: #f9f9f9;
  overflow-y: auto;
}

.chat-sidebar ul {
  list-style: none;
  padding: 0;
}

.chat-sidebar li {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.chat-sidebar li.active {
  background-color: #007bff;
  color: white;
}

.chat-main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.chat-messages::-webkit-scrollbar {
  width: 5px;
}

.chat-messages::-webkit-scrollbar-track {
  background: none;
  border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  padding-right: 10px;
}

.message-sent {
  align-self: flex-end;
  background-color: #abeeff;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message-received {
  align-self: flex-start;
  background-color: #d4e6ff;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.message-time {
  padding-left: 15px;
}

.message-body{
  padding-top: 10px;
}


input[type="text"] {
  border: none;
  text-decoration: none;
  height: 3em;
  border: solid 1px #6e6e6e;
  border-radius: 20px;
  padding-left: 15px;
  outline: none;
  font-size: 15px;
}

