.container{
  background-color: rgba(255, 255, 255, 0.26);
  width: 90em;
  height: 55em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  background: rgba(177, 177, 177, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.quadrado {
  border-radius: 10px;
  height: 80%;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px 20px 50px;
}

.titulo {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

h1 {
  font-weight: 500;
}

.titulo img {
  height: 40px;
  width: 40px;
}

.custom-button {
  display: flex; /* Alinha o ícone e o texto lado a lado */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */

  width: 250px; /* Ajuste a largura conforme necessário */
  height: 35px;
  padding: 15px 30px;

  background-color: #4054b4;
  color: #fff;

  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;

  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  user-select: none;

  transition: background-color 0.3s ease, transform 0.1s ease;
}

.custom-button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.custom-button:hover {
  background-color: #354799;
}

.custom-button:active {
  transform: translateY(1px);
}

a {
  text-decoration: none;
}

.textos {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  text-align: center;
  font-size: 20px;
}


@media screen and (max-width: 1920px) {
  .container {
    width: 80em;
    height: 48em;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 65em;
    height: 38em;
  }
}
