.container {
  width: 90em;
  height: 55em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  border-radius: 25px;
  background: rgba(177, 177, 177, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.container-empresas {
  width: 90em;
  height: 55em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  border-radius: 16px;
}

.empresas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  gap: 20px;
  align-items: center;
}

.change-button {
  font-weight: 600;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #3D50CA;
  color: rgb(255, 255, 255);
  transition: ease .1s;
  cursor: pointer;
  cursor: pointer;
}

.change-button:hover {
  transition: ease .1s;
  transform: scale(1.1);
}

.header {
  width: 100%;
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 4em;
  gap: 40px;
}

h2 {
  font-weight: 500;
}

.create-company {
  background-color: #3D50CA;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: 0.2s ease-in;
}

.create-company:hover {
  transition: 0.2s ease-in;
  transform: scale(1.05);
}

.quadrado {
  border-radius: 10px;
  height: 80%;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px 20px 50px;
}

.titulo {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}

h1 {
  font-weight: 500;
}

.titulo img {
  height: 40px;
  width: 40px;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 35px;
  padding: 15px 30px;
  background-color: #4054b4;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.custom-button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.custom-button:hover {
  background-color: #354799;
}

.custom-button:active {
  transform: translateY(1px);
}

a {
  text-decoration: none;
}

.textos {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  text-align: center;
  font-size: 20px;
}

.title {
  font-size: 30px;
}

.post-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2.2em;
}

.post-card {
  position: relative;
  background-color: #2B2B2B;
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 320px;
  border-radius: 8px;
  transition: ease 0.1s;
  box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.75);
}

.post-card-img {
  width: 180px;
  border-radius: 100%;
  height: 180px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 4px 0;
  height: 10%;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #EBEBEB;
}

.dots {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.dots:hover {
  transition: ease-in 0.1s;
  transform: scale(1.08);
}

.configure {
  background-color: #474956;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 7px 10px;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: ease-in 0.1s;
}

.configure:hover{
  transition: ease-in 0.1s;
  transform: scale(1.01);
}

.configure img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1920px) {
  .container {
    width: 80em;
    height: 48em;
  }
  .container-empresas {
    width: 80em;
    height: 48em;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 65em;
    height: 40em;
  }
  .container-empresas {
    width: 65em;
    height: 40em;
  }

  .title {
    font-size: 20px;
  }

  .post-card p {
    font-size: 15px;
  }

  .post-card {
    width: 190px;
    height: 230px;
  }

  .post-card-img {
    width: 110px;
    height: 110px;
  }

  .description {
    width: 220px;
    font-size: 15px;
  }

  .configure {
    padding: 6px 10px;
    font-size: 14px;
  }

  .configure img {
    width: 25px;
    height: 25px;
  }

  .pagination,
  .pagination button {
    font-size: 12px;
  }
}
