<div class="container">
  <div class="quadrado">
    <div class="titulo">
      <img src="../../../../assets/briefcase.png" alt="logo do oportuniza" />
      <h2>Minhas Empresas</h2>
    </div>
    <div class="textos">
      <p>
        Aqui aparecerão suas empresas registradas, e você poderá fazer os
        ajustes necessários para melhor atender às suas necessidades!
      </p>
      <p>
        Caso ainda nao possua nenhuma empresa registrada, cadastre uma agora!
      </p>
    </div>

    <div class="custom-button" routerLink="/inicio/criar-empresa">
      <img src="../../../../assets/plusicon.png" alt="Ícone de mais" />
      <span>Cadastrar Empresa</span>
    </div>
  </div>
</div>
