.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 5px 5px;
}

.search-icon {
  position: relative;
  left: 85px;
}

.filter-icon {
  cursor: pointer;
  transition: ease 0.1s;
}

.filter-icon:hover {
  transition: ease 0.1s;
  transform: scale(1.03);
}

input {
  border: none;
  width: 520px;
  font-weight: 600;
  padding: 12px 8px;
  padding-left: 45px;
  border-radius: 15px;
  margin: 3px;
}

input::placeholder {
  color: #252525;
}

@media screen and (max-width: 1024px) {
  .search-bar {
    gap: 20px;
    padding: 10px 5px;
    justify-content: center;
  }

  .search-bar input {
    width: 360px;
    font-size: 14px;
    padding: 10px 10px 10px 38px;
  }

  .search-icon {
    left: 11%;
    width: 20px;
    height: 20px;
  }

  .filter-icon {
    width: 34px;
    height: 34px;
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
    gap: 12px;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
  }

  .search-bar input {
    width: 260px;
    font-size: 13px;
    padding: 10px 10px 10px 36px;
  }

  .search-icon {
    left: auto;
    position: absolute;
    transform: translateX(-155px);
  }

  .filter-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 480px) {
  .search-bar {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .search-bar input {
    width: 170px;
    font-size: 12px;
    padding: 8px 8px 8px 32px;
  }

  .search-icon {
    transform: translateX(-110px);
    width: 15px;
    height: 15px;
  }

  .filter-icon {
    width: 30px;
    height: 30px;
  }
}
