<div class="container">
  <div class="title">Minhas Postagens</div>
  <div class="post-container">
    <div class="post-card" *ngFor="let post of posts">
      <!-- <div class="card-overlay" *ngIf="post.pendente">
        <img  src="../../../../assets/alert.png" alt="">
        <span class="overlay-text">Em Análise...</span>
      </div> -->

      <img class="post-card-img" src="../../../../assets/exclamation.png" />
      <div class="description">
        <p>Postado por {{ post.name }}</p>
        <p>Expira em {{ post.data }}</p>
      </div>
    </div>
  </div>
</div>
