.container {
  width: 90em;
  height: 54em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  gap: 1.2em;
}

.title {
  font-size: 30px;
}

.post-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 2.2em;
}

.post-card {
  position: relative;
  background-color: rgb(235, 232, 230);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 0.1s;
  box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 16px 1px rgba(0, 0, 0, 0.75);
}

.post-card:hover {
  transition: ease 0.1s;
  transform: scale(1.05);
}

.post-card-img {
  width: 320px;
  border-radius: 6px;
  height: 320px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  height: 8%;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: rgb(77, 77, 77);
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  gap: 20px;
  align-items: center;
}

.change-button {
  font-weight: 600;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #3D50CA;
  color: rgb(255, 255, 255);
  transition: ease .1s;
  cursor: pointer;
}

.change-button:hover {
  transition: ease .1s;
  transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
  .container {
    width: 65em;
    height: 40em;
  }

  .title {
    font-size: 25px;
  }

  .post-card p {
    font-size: 10px;
  }

  .post-card img {
    width: 225px;
    height: 225px;
  }

  .description {
    width: 225px;
  }

  .card-overlay img {
    width: 70px;
    height: 70px;

  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 58em;
    height: 38em;
  }
}
