.img {
  width: 100%;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45em;
}

.sobre-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  width: 75em;
  height: 38em;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  width: 35em;
}

.conteudo h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.conteudo h2 {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.conteudo p {
  font-size: 16px;
  color: #333;
  text-align: justify;
  margin: 10px;
}

.botao {
  display: inline-block;
  background-color: #2f55ff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.cards {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 35em;
  height: auto;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.card:nth-child(2),
.card:nth-child(4) {
  transform: translateY(-50px);
}

.card .icon {
  width: 50px;
  height: 50px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
  margin-bottom: 10px;
}


.card h4 {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.card p {
  font-size: 14px;
  color: #666;
}

@media screen and (max-width: 1200px) {
  .conteudo {
    width: 28em;
    padding-left: 20px;
  }

  .sobre {
    display: flex;
    flex-direction: column;
  }

  .sobre-container {
    width: 100%;
    grid-template-columns: 1, 1fr;
  }
}

@media screen and (max-width: 1100px) {
  .conteudo {
    width: 35em;
    padding-left: 20px;
  }

  .sobre {
    display: flex;
    height: 60em;
    flex-direction: column;
  }

  .sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50em;
    align-items: center;
    gap: 4em;
  }
}

@media screen and (max-width: 900px) {
  .conteudo {
    width: 35em;
    padding-left: 20px;
  }

  .sobre {
    display: flex;
    height: 60em;
    flex-direction: column;
  }

  .sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35em;
    align-items: center;
    gap: 4em;
  }
}

@media screen and (max-width: 700px) {
  .sobre {
    display: flex;
    height: 100em;
    flex-direction: column;
  }

  .conteudo {
    width: 28em;
    padding-left: 20px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60em;
    width: fit-content;
    gap: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 10em;
    margin-bottom: 3em;
    width: 15em;
  }

  .sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25em;
    height: auto;
    align-items: center;
    gap: 4em;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .sobre {
    display: flex;
    height: 100em;
    flex-direction: column;
  }

  .conteudo {
    width: 22em;
    padding-left: 10px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60em;
    width: fit-content;
    gap: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 10em;
    margin-bottom: 3em;
    width: 15em;
  }

  .sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18em;
    height: auto;
    align-items: center;
    gap: 4em;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}



