<div class="cadastro-container">
  <div class="cadastro-left">
    <img src="assets/cadastro/cadastro.png" class="cadastro-image" alt="Imagem de fundo" />
    <button type="button" class="logo-btn" style="cursor: pointer; background: transparent; border: transparent">
      <img src="assets/logo.png" class="logo" routerLink="/" alt="Logo" />
    </button>
  </div>

  <div class="cadastro-right">
    <h2>Cadastrar</h2>

    <form (ngSubmit)="register()" #registerForm="ngForm" class="loginform">
      <div class="input-container">
        <input type="email" name="email" placeholder="E-mail" [(ngModel)]="email" maxlength="100" />
      </div>

      <div class="input-container password-container">
        <input [type]="passwordVisible ? 'text' : 'password'" id="password" placeholder="Senha" name="password"
          [(ngModel)]="password" (input)="onPasswordInput()" maxlength="20" />
        <button class="show-password" type="button" (click)="togglePassword()">
          <img [src]="
              passwordVisible
                ? 'assets/cadastro/openeye.png'
                : 'assets/cadastro/closeeye.png'
            " alt="" />
        </button>
      </div>

      <div class="input-container password-container">
        <input [type]="confirmPasswordVisible ? 'text' : 'password'" id="confirmPassword" placeholder="Confirmar Senha"
          name="confirmPassword" [(ngModel)]="confirmPassword" (input)="onConfirmPasswordInput()" maxlength="20" />
        <button class="show-password" type="button" (click)="toggleConfirmPassword()">
          <img [src]="confirmPasswordVisible ? 'assets/cadastro/openeye.png' : 'assets/cadastro/closeeye.png'" alt="" />
        </button>
      </div>

      <div class="password-criteria">
        <div *ngFor="let criterion of criteriaList" [class.notMet]="!getPasswordCriteria(criterion.key)"
          [class.met]="getPasswordCriteria(criterion.key)" [class.highlight]="getPasswordStatus(criterion.key)">
          {{ criterion.message }}
        </div>
      </div>

      <input class="btn-primary" type="submit" value="Cadastrar" />
      <a class="extra-btn" routerLink="/login">Entrar</a>

      <p class="register-text">
        Já possui uma conta? <a [routerLink]="['/login']">Entrar</a>
      </p>
    </form>
  </div>
</div>
