.cadastro-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
}

.extra-btn{
  display: none;
}

.cadastro-left {
  flex: 1;
  position: relative;
}

.cadastro-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

.cadastro-right {
  flex: 1;
  padding: 90px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.loginform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

input {
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  transition: border-color 0.3s;
}

input:focus {
  border-bottom-color: #2e3fff;
}

.password-container {
  position: relative;
}

.show-password {
  position: absolute;
  top: 10px;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.show-password img {
  width: 24px;
  height: 24px;
}

.btn-primary {
  background-color: #2e3fff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  max-width: 240px;
  align-self: center;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #1f2bcc;
}


.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

.or-text {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.btn-microsoft {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  margin-bottom: 15px;
}

.btn-microsoft img {
  width: 30px;
}

.register-text {
  font-size: 14px;
}

.register-text a {
  color: #2e3fff;
  text-decoration: none;
  font-weight: bold;
}

.register-text a:hover {
  text-decoration: underline;
}

.terms-container {
  display: flex;
  align-items: flex;
  flex-direction: row;
  font-size: 14px;
  color: #333;
  height: 2.5em;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.terms-container input {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

.terms-container p {
  margin: 0;
  font-size: 13px;
  cursor: pointer;
}

.terms-container a {
  color: #2e3fff;
  text-decoration: none;
  font-weight: bold;
}

.terms-container a:hover {
  text-decoration: underline;
}

.password-criteria {
  margin-top: 8px;
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 15px;
}

.password-criteria div {
  color: #999;
  transition: all 0.3s ease;
}

.password-criteria div.met {
  color: #129b16;
  font-weight: 500;
}

.password-criteria div.highlight {
  font-weight: bold;
  transform: scale(1.03);
}

.password-criteria div.notMet {
  color: #cf0d0d;
  font-weight: 500;
}


@media screen and (max-width: 1000px) {

  .cadastro-container {
    background-color: #040025;
    position: relative;
  }

  .cadastro-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cadastro-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(15px);
    opacity: 0.5;
  }

  .cadastro-right {
    position: relative;
    width: 100%;
    padding: 20px;
    box-shadow: none;
    background: transparent;
  }

  .cadastro-right h2,
  .cadastro-right p,
  .cadastro-right a,
  .cadastro-right label {
    color: white;
  }

  .cadastro-right h2 {
    font-size: 45px;
  }

  .register-text {
    display: none;
  }

  .btn-primary {
    width: 250px;
    height: 50px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 18px;
  }

  .extra-btn {
    text-decoration: none;
    display: flex;
    background-color: rgba(141, 141, 141, 0.37);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    width: 250px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
  }

  input {
    font-size: 20px;
    color: white;
  }

  input::placeholder {
    color: white;
  }

  .password-container img {
    filter: invert(1);
  }

  .password-criteria div.met {
    color: #00fff2;
    font-weight: 400;
  }

  .password-criteria {
    margin-top: 8px;
    font-size: 15px;
    margin-bottom: 25px;
  }

}
