* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-container {
  background-image: url(../../../../assets/home-assets/Fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 100vh;
  width: 100%;
  height: 100vh;
}

hr {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  margin-bottom: 20px;
}

h2 {
  font-size: 35px;
  color: white;
  margin-bottom: 15px;
}

.company-logo {
  width: 120px;
  height: 120px;
  background-color: rgb(215, 215, 215);
  border-radius: 100%;
}

.company-datas span {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.center-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

nav {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.company-datas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: 500;
  color: white;
  transition: 0.3s;
  gap: 10px;
  background-color: rgba(9, 9, 9, 0.3);
  backdrop-filter: blur(2px);
  border: 2px dashed rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px;
}

.company-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 12px 15px;
  transition: 0.3s;
  background-color: rgba(9, 9, 9, 0.3);
  backdrop-filter: blur(2px);
  border: 2px dashed rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: none;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.723);
  transform: scale(1.05);
}

.active-link:hover {
  background-color: rgba(0, 0, 0, 0.529);
  transform: scale(1.05);
}

.user-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 30px;
}

.return-button img {
  width: 30px;
  height: 30px;
}

.return-button {
  gap: 20px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background: #5C5C5C;
  color: white;
  padding: 13px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s;
  width: 85%;
}

.return-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: none;
}

.content {
  height: calc(100vh - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(22, 22, 22, 0.5);
  border: 2px dashed rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 20px;
}

.content>span {
  display: none;
}

.layout-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
