<div class="layout-container">
  <aside class="sidebar">
    <div class="title">
      <h2>Oportuniza</h2>
      <div class="company-datas">
        <div class="company-info" *ngIf="company as companyData">
          <img class="company-logo" [src]="companyData.imageUrl" alt="Logo da Empresa">
          <span>
            {{ companyData.name }}
          </span>
        </div>
      </div>
    </div>

    <div class="center-content">
      <nav>
        <a routerLink="informacoes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          Informações
        </a>

        <a *ngIf="isUserAdmin" routerLink="adicionar-funcionario" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">
          Adicionar Funcionários
        </a>

        <a routerLink="funcionarios" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          Funcionários
        </a>

        <a routerLink="editar-empresa" *ngIf="isUserAdmin" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }">
          Editar Empresa
        </a>

        <button *ngIf="isUserAdmin" (click)="desativarEmpresa()">
          Excluir Empresa
        </button>
      </nav>
    </div>

    <div class="user-content">
      <button class="return-button" routerLink="/inicio/minhas-empresas">
        <img src="../../../../assets/undo.png" alt="">
        Voltar ao inicio
      </button>
    </div>
  </aside>

  <main class="content">
    <router-outlet class="layout-content"></router-outlet>
  </main>
</div>
