<div class="login-container">
  <div class="login-left">
    <img src="assets/cadastro/login.png" class="login-image" alt="Imagem de fundo" />
    <button type="button" class="logo-btn" style="cursor: pointer; background: transparent; border: transparent">
      <img src="assets/logo.png" class="logo" routerLink="/" alt="Logo" />
    </button>
  </div>

  <div class="login-right">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <h2>Entrar</h2>

      <div class="input-container">
        <input type="email" name="email" placeholder="E-mail" (input)="onEmailInput($event)" [(ngModel)]="email" required maxlength="100"
          autocomplete="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" (input)="sanitizeEmail()" />
      </div>

      <div class="input-container password-container">
        <input [type]="passwordVisible ? 'text' : 'password'" name="password" placeholder="Senha" [(ngModel)]="password"
          required maxlength="64" autocomplete="current-password"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_\-+=\[\]{};:'\ ,.<>?/\\|`~])(?!.*\s).{8,64}$"
        (input)="sanitizePassword()"
        />
        <button type="button" class="show-password" (click)="togglePassword()">
          <img [src]="passwordVisible ? 'assets/cadastro/openeye.png' : 'assets/cadastro/closeeye.png'"
            alt="Mostrar senha" />
        </button>
      </div>

      <button type="submit" class="btn-primary">Continuar</button>
    </form>

    <p class="register-text">
      Ainda não possui uma conta?
      <a [routerLink]="['/cadastro']">Cadastre-se</a>
    </p>
  </div>
</div>
