<div class="container" *ngIf="publication"> <app-searchbar (search)="onSearchTriggered($event)"></app-searchbar>
  <div class="center-content">
    <div class="right-image">
      <img [src]="publication.imageUrl || '../../../assets/logo.png'" />
    </div>

    <div class="post-description">
      <div class="post-content">
        <div class="user-datas">
          <img class="profile-picture" [src]="publication.authorImageUrl || '../../../../assets/etapas/perfil.png'" />
          {{ publication.authorName }}
        </div>

        <div class="description">

          <div class="title">{{ publication.title }}</div>

          <div class="main-description">
            {{ publication.resumee }}
          </div>

        </div>

        <div class="specs">
          <div class="spec-description">
            <img src="../../../../assets/Cash.png" alt="">
            <p>Faixa Salárial</p>
            <label>{{publication.salary}}</label>
          </div>

          <div class="spec-description">
            <img src="../../../../assets/Time.png" alt="">
            <p>Periodo</p>
            <label>{{publication.shift}}</label>
          </div>

          <div class="spec-description">
            <img src="../../../../assets/Briefcase-b.png" alt="">
            <p>Tipo de Contrato</p>
            <label>{{publication.contract}}</label>
          </div>

          <div class="spec-description">
            <img src="../../../../assets/Local.png" alt="">
            <p>Exclusivamente para</p>
            <label>{{publication.local}}</label>
          </div>

        </div>

        <div class="final">
          <p>Data de expiração: {{ publication.expirationDate | date:'dd/MM/yyyy' }}</p>

          <div class="bottom" *ngIf="publication.authorId !== userId">
            <button *ngIf="!appliedStatus[publication.id]" (click)="apply(publication.id)" class="apply-button">
              Candidatar-se
            </button>

            <button *ngIf="appliedStatus[publication.id]" (click)="cancelApplication(publication.id)"
              class="applied-button">
              Candidatado
            </button>
          </div>
        </div>

      </div>

    </div>
  </div>
